*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

/*                                           GENERIC CLASS FLEX                                                   */
.flex{
    display: flex;
}

.flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.flex-align-items-center{
    align-items: center;
}

.flex-space-between{
    justify-content: space-between;
}

.flex-wrap{
    flex-wrap: wrap;
}

/*                                          GENERIC CLASS FONT                                                      */
.font-grey{
    color: lightgray;
}

/*                                          GENERIC CLASS CONTAINER*/
.container-large{
    width: 70%;
    margin: 0 auto;
}

.containter-medium{
    width: 60%;
    margin: 0 auto;
}

#logo{
    width: 20%;
}

/*                                          GENERIC ELEMENT BUTTON                                                           */
button{
    border: none;
    background-color: #4a4af8;
    color: white;   
    padding: .5rem 1rem;
}

/*                                          GENERI ELEMENT NAV UL LI A                                                     */
nav ul{
    list-style-type: none;
}

nav ul li a{
    text-decoration: none;
    color: black;

    padding: 0rem 1rem;
}

/*                                          SECTION MAIN HEADER (THE FIRTS HEADER IN PAGE)                              */
header section.main-header{
    width: 100%;
    height: 5rem;
    padding: 0rem 1rem;
    
    background-color: white;
}


/*                                          SECTION HEADER-INFO (THE SECOND PART OF THE HEADER)                    */  
/*Background color of the section header info*/                 
header section.header-info{
    background-color: #bdcde4;
}

/*Font e padding h1 in the header info*/
header section.header-info div.container-large h1{
    font-size: 5rem;

    padding: 3rem 0rem;
}

/* div with the info*/
header section.header-info div.container-large div.box-info{
    width: 30%;
}

/* margin bottom for the button*/
header section.header-info div.container-large button.header-button-second{
    margin-bottom: 2rem;
}

/* margin bottom for the paragraph, for spacing correct*/
header section.header-info div.container-large div.box-info p{
    padding-bottom: 3rem;
}

/*font size and margin top for icon*/
header section.header-info div.container-large div.box-info i{
    margin-top: 1rem;
    font-size: 3rem;
}

/*Height of the div box-image and margin left, for correct spacing*/
header section.header-info div.container-large div.box-image{
    height: 24rem;

    margin-left: 1rem;
}

/*width e height for image son of the div box-image*/
header section.header-info div.container-large div.box-image > img{
    width: 107%;
    height: 118%;
}

                                                        /*MAIN*/

/*padding top for correct spacing*/
main{
    padding-top: 8rem;
}
/*                                  SECTION FOR SUBSCRIBING TO SUBSCRIPTION PLANS                           */

/*Font and padding-bottom for h1*/
main section.containter-medium h1{
    font-size: 2rem;
    padding-bottom: 3rem;
}

/*div containing the subscription plans*/
/*margin top, for correct spacing*/
main section.containter-medium div.plans{
    margin-top: 3rem;
}

/*width - height,and border for div plan-box*/
main section.containter-medium div.plan-box{
    border: 1px solid black;
    width: 30%;
    height: 77rem;
}

/*aligned text amd border for the header paragraph of the plan box and plan box long , and margin-bottom*/
main section.containter-medium div.plan-box p.p-header,
main section.containter-medium div.plan-box-long p.p-header{
    text-align: center;
    border-bottom: 1px solid black;
    margin-bottom: 1rem;
}

/*font size and padding at h2 for div-plan box*/
main section.containter-medium div.plan-box h2,
main section.containter-medium div.plan-box-long h2{
    font-size: 2rem;
    padding: 1rem;
    
}
/*font size and padding at p and h3 for div-plan box*/
main section.containter-medium div.plan-box p,
main section.containter-medium div.plan-box h3,
main section.containter-medium div.plan-box-long p,
main section.containter-medium div.plan-box-long h3{
    padding: 1rem;
    font-size: 1.20rem;
}


main section.containter-medium div.plan-box div.button{
    text-align: center;

    margin: 3rem 0 1.5rem 0;
}

main section.containter-medium div.plan-box div.button button{
    padding: .5rem 2.5rem;
    font-size: 1.20rem;
}


main section.containter-medium div.plan-box hr{
    color: lightgray;
    width: 4rem;
    margin: 1.5rem 0rem 1.5rem 1rem;
}


main section.containter-medium div.plans div.plan-box-long{
    position: relative;

    width: 100%;
    height: 18rem;
    border: 1px solid black;

    margin-top: 3rem;
}

main section.containter-medium div.plans div.plan-box-long > div.button{
    position: absolute;
    top: 93px;
    right: 24px;
}

/*Parte per diventare partener*/

main section.dropbox-partner{
    width: 60%;
    height: 40rem;
    margin: 5rem auto;
    display: flex;
    justify-content: space-between;


}

main section.dropbox-partner > div.image{
    width: 60%;
    height: 100%;
}
main section.dropbox-partner > div.image > img{
    width: 700px;
    height: 530px;
}

main section.dropbox-partner > div.image-description{
    width: 30%;
    height: 100%; 
}

main section.dropbox-partner > div.image-description h2,
main section.dropbox-partner > div.image-description p,
main section.dropbox-partner > div.image-description button{
    margin-top: 2rem;
}

main section.dropbox-partner > div.image-description button.button-grey{
    border: 1px solid black;
    color: black;
    background-color: white;

}


main section.dropbox-business{
    width: 60%;
    margin: 5rem auto;

    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;


}

main section.dropbox-business > h1{
    width: 100%;
    padding-bottom: 2rem;
    font-size: 2rem;
}

main section.dropbox-business > h2{
    width: 100%;
    padding-bottom: 2rem;
    font-size: 2rem;
}

main section.dropbox-business > div.box{
    height: 35rem;
    width: calc((100% / 3) - 2rem);
    margin-right: 2rem;

}

main section.dropbox-business > div.box > img{
    width: 350px;
    height: 300px;
}

main section.dropbox-business > div.box > h1{
    padding: 10rem 0rem 3rem 0rem;
}

main section.partners{
    border: 1px solid black;

    display: flex;
    flex-wrap: wrap;

    margin-top: 12rem;

    width: 100%;
}


main section.partners div.box-partner{
    width: calc(100% /3);
    height: 36rem;

    display: flex;
    flex-wrap: wrap;
    border: 1px solid black;
}

main section.partners div.box-partner > div.box-image{
    width: 50%;
    height: 50%;

    display: flex;
    justify-content: center;
    align-items: center;

}

main section.partners div.box-partner > div.box-image > img{
    width: 150px;
    filter: invert(100%);
}

.background-green{
    background-color: #b0d49d;
}

.background-dark-red{
    background-color: #53132f;
}

.background-light-blue{
    background-color: #5a8cc9;
}

.background-red{
    background-color: #d83333;
}

.background-world-bicycle{
    background-color: #b3212f;
}

.background-hearst-corp{
    background-color: #bdcde4;
}

.background-lonely-planet{
    background-color: #26187c;
}

.background-clear-channel{
    background-color: #f1dd50;
}



main section.partners div.box-partner-description{
    background-color: #f5f5f5;

    padding: 2rem;

    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
}

main section.partners div.box-partner-description > img{
    width: 50%;
}

main section.partners div.box-partner-description > hr{
    color: #cfcfd2;
    width: 7rem;
    margin: 3rem 0rem;
}

main section.partners div.box-partner-description > blockquote > p{
    padding-bottom: 2rem;
}


main section.partners div.join-dropbox-business{
    width: 100%;
    height: 20rem;
    background-color: #bdcde4;

    display: flex;
    justify-content: center;
    align-items: center;
}

main section.partners div.join-dropbox-business > h2{
    font-size: 2rem;
    color: #531330;

    padding-right: 5rem;
}

main section.partners div.join-dropbox-business > button{
    background-color: white;
    color: black;
}

main section.questions{
    width: 60%; 
    height: 38rem;
    margin: 0 auto;
    padding-top: 5rem;

}

main section.questions h1{
   font-size: 2rem;
}

main section.questions hr{
    margin: 2rem 0rem;
    color: #bdcde4;
}

main section.questions span{
    margin-left: 24rem;
}

                                                   /*Footer*/
footer{
    background-color: black;
    width: 100%;
    height: 31rem;
}

footer section.main-footer{
    margin: 0 auto;
    width: 70%;
    
    padding-top: 4rem;
    display: flex;
    flex-wrap: wrap;


    position: relative;
}

footer section.main-footer div.box-footer{
    width: calc(100% / 5);

    color: white;
}

footer section.main-footer div.box-footer h2{
    padding-bottom: 1rem;

}
footer section.main-footer div.box-footer nav ul {
    display: flex;
    flex-direction: column;
    padding: 0rem;
}

footer section.main-footer div.box-footer nav ul li{
    padding: .2rem 0rem;
}
footer section.main-footer div.box-footer nav ul li a{
    color: white;
    padding: 0rem;
}

footer section.main-footer hr{
    margin: 5rem 0;
    color: white;
    width: 8rem;
}

footer div.change-language{
    position: absolute;
    color: white;

    bottom: 2px;
}
