*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

/*                                           GENERIC CLASS FLEX                                                   */
.flex{
    display: flex;
}

.flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.flex-align-items-center{
    align-items: center;
}

.flex-space-between{
    justify-content: space-between;
}

.flex-wrap{
    flex-wrap: wrap;
}

/*                                          GENERIC CLASS COLOR FONT                                                 */
.font-grey{
    color: #797a7f;
}

/*                                          GENERIC CLASS CONTAINER*/
.container-large{
    width: 70%;
    margin: 0 auto;
}

.containter-medium{
    width: 60%;
    margin: 0 auto;
}

/*width for Logo*/
#logo{
    width: 20%;
}

/*for correct spacing between the 2 labels*/
label{
    margin-right: 1rem;
}

/*                                          GENERIC ELEMENT BUTTON                                                           */
button{
    border: none;
    background-color: #4a4af8;
    color: white;   
    padding: .5rem 1rem;
}

button:hover{
    background-color: #3e3ed8;
}
/*                                          GENERI ELEMENT NAV UL LI A                                                     */
nav ul{
    list-style-type: none;
}

nav ul li a{
    text-decoration: none;
    color: black;

    padding: 0rem 1rem;
}

/*                                          SECTION MAIN HEADER (THE FIRTS HEADER IN PAGE)                              */
header section.main-header{
    width: 100%;
    height: 5rem;
    padding: 0rem 1rem;
    
    background-color: white;
    position: fixed;
    z-index: 2;
}


/*                                          SECTION HEADER-INFO (THE SECOND PART OF THE HEADER)                    */  
/*Background color of the section header info, and padding for correct spacing*/                 
header section.header-info{
    padding-top: 2rem;
    background-color: #bdcde4;
}

/*Font e padding h1 in the header info*/
header section.header-info div.container-large h1{
    font-size: 5rem;

    padding: 3rem 0rem;
}

/* div with the info*/
header section.header-info div.container-large div.box-info{
    width: 30%;
}

/* margin bottom for the button*/
header section.header-info div.container-large button.header-button-second{
    margin-bottom: 2rem;
}

/* margin bottom for the paragraph, for spacing correct*/
header section.header-info div.container-large div.box-info p{
    padding-bottom: 3rem;
}

/*font size and margin top for icon*/
header section.header-info div.container-large div.box-info i{
    margin-top: 1rem;
    font-size: 3rem;
}

/*Height of the div box-image and margin left, for correct spacing*/
header section.header-info div.container-large div.box-image{
    height: 24rem;

    margin-left: 1rem;
}

/*width e height for image son of the div box-image*/
header section.header-info div.container-large div.box-image > img{
    width: 107%;
    height: 118%;
}

                                                        /*MAIN*/

/*padding top for correct spacing*/
main{
    padding-top: 8rem;
}
/*                                  SECTION FOR SUBSCRIBING TO SUBSCRIPTION PLANS                           */

/*Font and padding-bottom for h1*/
main section.containter-medium h1{
    font-size: 2rem;
    padding-bottom: 3rem;
}

/*div containing the subscription plans*/
/*margin top, for correct spacing*/
main section.containter-medium div.plans{
    margin-top: 3rem;
}

/*width - height,and border for div plan-box*/
main section.containter-medium div.plan-box{
    border: 1px solid black;
    width: 30%;
    height: 77rem;
}

/*aligned text amd border for the header paragraph of the plan box and plan box long , and margin-bottom*/
main section.containter-medium div.plan-box p.p-header,
main section.containter-medium div.plan-box-long p.p-header{
    text-align: center;
    border-bottom: 1px solid black;
    margin-bottom: 1rem;
}

/*font size and padding at h2 for div-plan box*/
main section.containter-medium div.plan-box h2,
main section.containter-medium div.plan-box-long h2{
    font-size: 2rem;
    padding: 1rem;
    
}
/*font size and padding at p and h3 for div-plan box*/
main section.containter-medium div.plan-box p,
main section.containter-medium div.plan-box h3,
main section.containter-medium div.plan-box-long p,
main section.containter-medium div.plan-box-long h3,
main section.containter-medium div.plan-box div{
    padding: 1rem;
    font-size: 1.20rem;
}

/*font-weight for bold at the price, and padding for correct spacing*/
main section.containter-medium div.plan-box p.price{
    font-weight: bold;
    padding-bottom: 0rem;
}

/*Per consentire agli span di stare sulla stessa riga, occupando uno spazio, il testo non va sotto l'icona una volta cambiata riga*/
main section.containter-medium div.plan-box div > span.inline-block{
    display: inline-block;
    padding-right: .3rem;
}

/*margin e text align for centered the button in div*/
main section.containter-medium div.plan-box div.button{
    text-align: center;

    margin: 3rem 0 1.5rem 0;
}
/*Font e padding for the button in div button*/
main section.containter-medium div.plan-box div.button button,
main section.containter-medium div.plan-box-long div.button button{
    padding: .5rem 2.5rem;
    font-size: 1.20rem;
}

main section.containter-medium div.plan-box div.button button.button-padding-large{
    padding: .5rem 5.9rem;
}
/*HR in the section*/
main section.containter-medium div.plan-box hr{
    color: lightgray;
    width: 4rem;
    margin: 1.5rem 0rem 1.5rem 1rem;
}

/*box long in the section container-medium*/
main section.containter-medium div.plans div.plan-box-long{
    position: relative;

    width: 100%;
    height: 19rem;
    border: 1px solid black;

    margin-top: 3rem;
}

/*position for the button in div plan-box-long */
main section.containter-medium div.plans div.plan-box-long > div.button{
    position: absolute;
    top: 93px;
    right: 24px;
}

/*                                      SECTION DROPBOX-PARTNER                                         */
/*Margin for correct spacing*/
main section.dropbox-partner{
    margin: 10rem auto;
}

/*Width and height of the div.image*/
main section.dropbox-partner > div.image{
    width: 60%;
    height: 100%;
}

/*width and height of the child image of the div*/
main section.dropbox-partner > div.image > img{
    width: 700px;
    height: 530px;
}

/*width and height of the div.image-description*/
main section.dropbox-partner > div.image-description{
    width: 30%;
    height: 100%; 
}

/*margin for correct spacing in the div.image-description*/
main section.dropbox-partner > div.image-description h2,
main section.dropbox-partner > div.image-description p,
main section.dropbox-partner > div.image-description button{
    margin-top: 2rem;
}

/*button formatting (border, color and background color)*/
main section.dropbox-partner > div.image-description button.button-grey{
    border: 1px solid black;
    color: black;
    background-color: white;
}

/*hover on the button*/
main section.dropbox-partner > div.image-description button.button-grey:hover{
    background-color: rgb(196, 194, 194);
}

/*                                              SECTION DROPBOX-BUSINESS*/
/*margin for correct spacing*/
main section.dropbox-business{
    margin: 5rem auto;
}

/*width at 100% for the wrap, and formatting of the H1*/
main section.dropbox-business > h1{
    width: 100%;
    padding-bottom: 2rem;
    font-size: 2rem;
}

/*width 100% for wrap the row, padding and font size */
main section.dropbox-business > h2{
    width: 100%;
    padding-bottom: 2rem;
    font-size: 2rem;
}

/*width and margin for div.box, boxes that will contain the images*/
main section.dropbox-business > div.box{
    width: calc((100% / 3) - 2rem);
    margin: 2rem 1rem 2rem 0;
}

/*width and height for img*/
main section.dropbox-business > div.box > img{
    width: 350px;
    height: 300px;
}

/*Padding for correct spacing, between h2 and paragraph in div.box*/
main section.dropbox-business > div.box > h2{
    padding-bottom: 1rem;
}

/*padding for correct spacing, for div.count-business*/
main section.dropbox-business div.count-business h1{
    padding: 9rem 0rem 3.5rem 0rem;
}


/*                                          SECTION PARTNERS*/
/*width for section partners*/
main section.partners{
    margin-top: 8rem;
}

/*width and height of the div.box-partner*/
main section.partners div.box-partner{
    width: calc(100% /3);
    height: 36rem;
}

/*width and height of box image, 50% and 50% per dividere il quadrato in 4 parti uguali*/
main section.partners div.box-partner > div.box-image{
    width: 50%;
    height: 50%;
}

/*width of the child element img of the div box-image, and filter for inversion of the color*/
main section.partners div.box-partner > div.box-image > img{
    width: 150px;
    filter: invert(100%);
}

/*                                         BACKGROUND-COLOR FOR LOGO                                       */
.background-designit{
    background-color: #b0d49d;
}

.background-arizona-state-university{
    background-color: #53132f;
}

.background-univeristy-of-florida{
    background-color: #5a8cc9;
}

.background-topps{
    background-color: #d83333;
}

.background-world-bicycle{
    background-color: #b3212f;
}

.background-hearst-corp{
    background-color: #bdcde4;
}

.background-lonely-planet{
    background-color: #26187c;
}

.background-clear-channel{
    background-color: #f1dd50;
}

/*Background color, and padding for box-partrner-description, the central box in the section partners*/
main section.partners div.box-partner-description{
    background-color: #f5f5f5;

    padding: 2rem;
}

/*width of the child element img*/
main section.partners div.box-partner-description > img{
    width: 50%;
}

/*formatting of the child element hr*/
main section.partners div.box-partner-description > hr{
    color: #cfcfd2;
    width: 7rem;
    margin: 3rem 0rem;
}

/*padding for the paragraph, for correct spacing*/
main section.partners div.box-partner-description > blockquote > p{
    padding-bottom: 2rem;
}

/*                                      SECTION JOIN DROPBOX BUSINESS*/ 

/*height and background color of the section join-dropbox-business*/
main section.join-dropbox-business{
    height: 20rem;
    background-color: #bdcde4;
}

/*Font size and color of the h2*/
main section.join-dropbox-business div.containter-medium > h2{
    font-size: 2rem;
    color: #531330;
}

/*background color and font color of the child element button*/
main section.join-dropbox-business div.containter-medium button{
    background-color: white;
    color: black;
    padding: .6rem 2rem;
}

/*hover on the button*/
main section.join-dropbox-business div.containter-medium button:hover{
    background-color: rgb(187, 187, 187);
}

/*                                              SECTION QUESTIONS                               */
/*padding of the section*/
main section.questions{
    padding: 8rem 0rem 6rem 0rem;
}

/*font size and padding bottom for the child element h1*/
main section.questions > h1{
   font-size: 2rem;
   padding-bottom: 2rem;
}

/*formatting for hr*/
main section.questions hr{
    margin: 2rem 0rem;
    color: #bdcde4;
}

/*margin for correct spacing*/
main section.questions span{
    margin-left: 24rem;
}

                                                   /*Footer*/
footer{
    background-color: black;
    height: 28rem;
    width: 100%;
}

/*position relative, per il successivo posizionamento del div. change language*/
footer section.main-footer{
    position: relative;
}

/*width and color for div-footer*/
footer section.main-footer div.box-footer{
    width: calc(100% / 5);

    color: white;
}

/*padding for correct spacing*/
footer section.main-footer div.box-footer h2{
    padding-top: 4rem;
    padding-bottom: 1rem;

}

/*padding for correct spacing*/
footer section.main-footer div.box-footer nav ul li{
    padding: .2rem 0rem;
}

/*Padding 0, altrimenti ereditando dalla classe generica in alto il padding, si sposta tutto*/
footer section.main-footer div.box-footer nav ul li a{
    color: white;
    padding: 0rem;
}
/*formatting HR*/
footer section.main-footer hr{
    margin: 5rem 0;
    color: white;
    width: 8rem;
}
/*formatting of the div, position absolute for positioning*/
footer div.change-language{
    position: absolute;
    color: lightgray;

    bottom: 2px;
}
